footer {
  background-color: #272723;
  color: white;
}
.footer {
  padding: 35px 0px;
}
.title {
  font-weight: 500;
  margin-bottom: 7px;
}
.contact__list {
  list-style: none;
}
.contact__list > li {
  margin-bottom: 10px;

  color: #3e89cc;
  font-size: 14px;
}
.contact__list > li > span {
  color: white;
  font-size: 13px;
  color: white;
}
.social-list > a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0;
  padding-top: 5px;
  margin-right: 5px;

  text-align: center;

  background-color: #5c5c59;
  color: white;
}
.social-list > a:hover {
  background-color: #3e89cc;
}
/* ********************************************** */
.new-letter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-letter__content {
  width: 50%;
}
.new-letter__content > p:nth-child(2) {
  color: #3e89cc;
  font-size: 14px;
}
.email-sub {
  width: 50%;
  height: 40px;
  display: flex;
}
.email-sub > input {
  height: 100%;
  width: 70%;
  padding: 4px 30px;

  border: none;
}
.email-sub > button {
  border: none;

  background-color: #3e89cc;
  color: white;

  width: 30%;
}
.more-info {
  display: flex;
  justify-content: space-between;

  margin-top: 50px;
}
.account {
  width: 30%;
}
.list-wrap {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  width: 100%;
}
.list-wrap > li {
  width: 50%;
  padding: 0px 10px;
}
.list-wrap > li > a {
  font-size: 14px;
  color: #3e89cc;
}
.main-features {
  width: 60%;
}
/* ********************************************** */
hr {
  border-top: 1px solid #d1d1ce;
}
.footer-copyright {
  color: #3e89cc;
  font-size: 14px;
}
@media screen and (max-width: 990px) {
  .new-letter {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
  }
  .more-info {
    flex-direction: column;
  }
}
